.project-main{

}

.project-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;
}

.project-showcase{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 600px;
    overflow: hidden;
    
    border: solid black 2px;
}

.project-showcase > a{
    height: 60%;
    display: block;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-showcase-image{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    
    background-color: lightblue
}

.project-showcase-description{
    height: 40%;
    background: lightgreen;
    padding: 10px 30px;
}

.project-showcase-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 2px;
}

.socials{
    display: flex;
    align-items: center;
    gap: 10px;
}

.socials svg {
    width: 24px;
    height: 24px;
    fill: black;
}

.project-showcase-body{

}

@media screen and (width <= 800px){
    .project-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 100px;
    row-gap: 50px;
    }
}

@media screen and (800px <= width <= 1024px){
    .project-content{
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width <= 800px){
    .project-content{
    grid-template-columns: 1fr;
    }

    .project-main{
        display: grid;
        place-items: center;
    }
}

@media screen and (width <= 500px){
    .project-content{
        grid-template-columns: 1fr;
    }
}